.home
  .mypage-container
    .image-block
      .background-image-block 
        %img.myimage-change{:alt => "logo", :src => "https://1.bp.blogspot.com/-QVMz6qEOj9Y/Xlc4kcdTl7I/AAAAAAABXfo/N_GQOPjSMJYOOH-BBkOonTG-qQEMri8JwCNcBGAsYHQ/s1600/medical_mask01_boy.png"}
        %i.fas.fa-camera.fa-3x
        
  %header#login-header.l-login-header
    %a.transfer-mypage{:href => "/"}
      %img.logo-mark{:alt => "logo", :src => "https://i.gzn.jp/img/2018/01/15/google-gorilla-ban/00.jpg"}
    %nav#navigation.navigation
      %ul.nav-list
        %li.top-page TOP
        %li.registraition NEW
        %li.my-page ME
        %li.login-page LOGIN