.talk-background 
  .search-header 
    .search-header__name-block
      .search-header__name-block__display
        .search-header__name-block__display__mark <
        .search-header__name-block__display__name kaito
    .search-header__heading-name 
      .search-header__heading-name-searching-message 
  .talk-place 
    .talk-place__message1
      .talk-place__message1__icon1-block 
        %img.talk-place__message1__icon1-block__url{:alt => "icon", :src => "https://toretama.jp/img/mouseover-zoomup-image.jpg"}
      .talk-place__message1__speech-balloon-block 
        .talk-place__message1__speech-balloon-block__style 
          .talk-place__message1__speech-balloon-block__style__message-text test
        


