.home
  .top-block
    %img.home__image{:alt => "notdecade", :src => "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/connecting-and-sharing-royalty-free-image-1579168818.jpg"}
      .registration-block
      %h1.registration Registration!!!
    %h1.welcome-to-japan Welcome to Japan
    %h1.international international
    %h1.student students
  %header#login-header.l-login-header
    %a.transfer-mypage{:href => "/"}
      %img.logo-mark{:alt => "logo", :src => "https://i.gzn.jp/img/2018/01/15/google-gorilla-ban/00.jpg"}
    %nav#navigation.navigation
      %ul.nav-list
        %li.top-page TOP
        %li.registraition NEW
        %li.my-page ME
        %li.login-page LOGIN
  .about-block
    %img.about-image{:alt => "about-image", :src => "https://img.cowcamo.jp/uploads/ckeditor/pictures/9930/content_IMG_0140.jpg"}
    %h1.about-script1 It was created to facilitate smoother communication
    %h1.about-script2 between international students and Japanese students....
  %footer#l-footer.footer
    %ul.footer-block
      %li.privacy-and-term-of-use 利用規約とプライバシー
      %li.security セキュリティ