.home
  .top-block
    %img.home__image{:alt => "notdecade", :src => "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/connecting-and-sharing-royalty-free-image-1579168818.jpg"}
    %h1.welcome-to-japan Welcome to Japan
    %h1.international international
    %h1.student students
  %header#login-header.l-login-header
    %a.transfer-mypage{:href => "/"}
      %img.logo-mark{:alt => "logo", :src => "https://i.gzn.jp/img/2018/01/15/google-gorilla-ban/00.jpg"}
    %nav#navigation.navigation
    
      %ul.nav-list
        %li.top-page TOP
        %li.registraition NEW
        %li.my-page ME
        %li.login-page LOGIN
    