.mypage-container {
  position: relative;
  width: 100%;

  .image-block {
    height: 450px;
    background-color: palegoldenrod;

    .background-image-block {
      width: 800px;
      height: 410px;
      position: absolute;
      top: 15px;
      left: 550px;
      background-color: white;

      .myimage-change {
        width: 400px;
        height: 380px;
        position: absolute;
        left: 200px;
        top: 20px;
      }

      .fas.fa-camera.fa-3x {
        position: absolute;
        top: 340px;
        left: 500px;
      }
    
    }
  }

  .first-self-introduction-block {
    height: 200px;
    .my-name {
      height: 100px;
      font-size: 45px;
      text-align: center;
      border: solid;
      margin-bottom: 10px;
    }
    .one-word-comment{
      height: 100px;
      font-size: 30px;
      text-align: center;
      border: solid;
    }
  }
    
}
    